name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  linux:
      runs-on: ubuntu-latest
      steps:
        - name: Update Rust
          run: rustup update stable
        - uses: actions/checkout@v4
        - name: Build
          run: cargo build --verbose
        - name: Check formatting
          run: cargo fmt -- --check
        - name: Run Clippy
          run: cargo clippy --all-targets --all-features -- -D warnings
        - name: Run tests
          run: cargo test --all-features --verbose
  windows:
      runs-on: ubuntu-latest
      steps:
        - name: Update Rust
          run: rustup update stable
        - uses: actions/checkout@v4
        - name: Build
          run: cargo build --verbose
        - name: Check formatting
          run: cargo fmt -- --check
        - name: Run Clippy
          run: cargo clippy --all-targets --all-features -- -D warnings
        - name: Run tests
          run: cargo test --all-features --verbose
